@mixin borderRadius($rad) {
  -webkit-border-radius: $rad;
     -moz-border-radius: $rad;
          border-radius: $rad;
}

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  transition: $args;
}

@mixin boxShadow($args) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  box-shadow: $args;
}