@import "_custom_mixins";
@import "_type";
@import "_header";

body {
  padding: 0;
  margin: 0;
}

.Clear {
  clear: both;
}

.Left {
  float: left;
  text-align: left;
}

.Right {
  float: right;
  text-align: right;
}

#Content {
  width: 600px;
  margin: 10px auto;
  padding: 20px 0;
}

.SectionBreak {
  width: 100%;
  height: 1px;
  background-color: #f8f8f2;
  margin: 50px 0;
}