#Filters {
  margin: 10px 0;

  .Filter {
    float: left;
    width: 300px;

    > div {
      padding: 5px 10px;
    }

    .FilterName {
      float: left;

      p {
        margin: 0;
      }
    }

    .FilterSetting {
      float: right;

      input[type="range"] {
        -webkit-appearance: none !important;
        width: 150px;
        background-color: #434341;
        height: 1px;
        vertical-align: 1px;
      }

      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none !important;
        height: 12px;
        width: 15px;
        background-color: #368ad2;
        cursor: pointer;
      }

      .FilterValue {
        width: 30px;
        display: inline-block;
      }
    }
  }
}

#PresetFilters {
  a {
    @include borderRadius(3px);
    @include transition(background-color 0.3s ease-out);

    background-color: #368AD2;
    display: block;
    float: left;
    text-align: center;
    padding: 8px 10px;
    color: #f8f8f2;
    margin: 5px;
    border: none;
    font-size: 13px;
    width: 120px;
    cursor: pointer;

    &:hover {
      background-color: lighten(#368AD2, 5%);
    }

    &:active {
      @include boxShadow(inset 1px 1px 3px rgba(0, 0, 0, 0.3));
    }

    &.Active {
      background-color: #E69751;
    }
  }
}