<div
  id="HeaderContainer"
  {% if page.fixed_header %}
  class="Fixed"
  {% endif %}
>
  <div id="Header">
    <div class="Left">
      <h1>CamanJS</h1>
    </div>
    <div class="Right">
      <ul>
        <li {% if page.section == 'home' %}class="Active"{% endif %}>
          <a href="/">Home</a>
        </li>
        <li {% if page.section == 'examples' %}class="Active"{% endif %}>
          <a href="/examples">Examples</a>
        </li>
        <li {% if page.section == 'guides' %}class="Active"{% endif %}>
          <a href="/guides">Guides</a>
        </li>
        <li {% if page.section == 'docs' %}class="Active"{% endif %}>
          <a href="/docs">Documentation</a>
        </li>
      </ul>
    </div>
    <div class="Clear"></div>

    {% if page.section == 'guides' %}
    <ul id="GuideSections">
      <li class="Active"><a href="#BasicUsage">Basic Usage</a></li>
      <li><a href="#AdvancedUsage">Advanced Usage</a></li>
      <li><a href="#BuiltIn">Built-in Functionality</a></li>
      <li><a href="#Extending">Extending</a></li>
    </ul>
    <div class="Clear"></div>
    {% endif %}
  </div>
</div>