<h3 id="AdvancedUsage">Advanced Usage</h3>
<p>Once you've gotten the CamanJS basics down, there are some more advanced techniques for you to explore.</p>

<h4>Layers</h4>
<p>CamanJS has a powerful layering system built-in that gives you even more editing power. Layers in CamanJS use a slightly different paradigm than those in editing applications like Photoshop. Layers can be nested, but they always apply effects to their parents like a stack.</p>

<p>When layers are applied to their parents, it is done using a particular blending mode. The default is "normal".</p>

{% highlight js %}
Caman("#image", function () {
  // We can call any filter before the layer
  this.exposure(-10);

  // Create the layer
  this.newLayer(function () {
    // Change the blending mode
    this.setBlendingMode("multiply");

    // Change the opacity of this layer
    this.opacity(80);

    // Now we can *either* fill this layer with a
    // solid color...
    this.fillColor('#6899ba');

    // ... or we can copy the contents of the parent
    // layer to this one.
    this.copyParent();

    // Now, we can call any filter function though the
    // filter object.
    this.filter.brightness(10);
    this.filter.contrast(20);
  });

  // And we can call more filters after the layer
  this.clip(10);
  this.render();
});
{% endhighlight %}

<h4>Blenders</h4>
<p>As mentioned above in the Layers section, when a layer is applied to it's parent, it uses a blending function. The built-in blending functions are:</p>

<ul class="TableList Across5">
  <li>normal</li>
  <li>multiply</li>
  <li>screen</li>
  <li>overlay</li>
  <li>difference</li>
  <li>addition</li>
  <li>exclusion</li>
  <li>softLight</li>
  <li>lighten</li>
  <li>darken</li>
</ul>

<div class="Clear"></div>

<p>It is extremely easy to extend CamanJS with new blending functions as well. More info is available in the <a href="#Extending">Extending CamanJS</a> section.</p>

<h4>Cropping/Resizing</h4>

<p>CamanJS allows you to crop and resize canvases with ease. This can be done either at initialization time, or later on.

<p>Note that, at this time, resizing at initialization is the only part included in the core library. You will either have to use the full version of CamanJS or include the size plugin manually if you want to crop or resize later.</p>

<h5>Resize at Initialization</h5>
<p>Resizing at initialization is handled by the data attributes camanwidth and camanheight. Specifying one or both will resize the image when it is applied to the canvas. The image will be stretched if the given size has a different width:height ratio than the original.</p>
{% highlight html %}
<img
  src="path/to/image.jpg" 
  data-camanwidth="500"
  data-camanheight="500"
>
{% endhighlight %}

<h5>Resize via Plugin</h5>
<p>Resizing is provided as a CamanJS plugin. You must specify at least width or height. Changing the width:height ratio will stretch the image.</p>
{% highlight js %}
Caman("#image", function () {
  this.resize({
    width: 500,
    height: 300
  });

  // You still have to call render!
  this.render();
});
{% endhighlight %}

<h5>Crop via Plugin</h5>
<p>Cropping is also provided as a CamanJS plugin. You must specify at least the new width and height. You can optionally also specity the coordinates of the top left corner where the cropping should start.</p>
{% highlight js %}
Caman("#image", function () {
  // width, height, x, y
  this.crop(500, 300);

  // Still have to call render!
  this.render();
});
{% endhighlight %}

<h4>Events</h4>

<p>CamanJS has an event system that lets you execute callbacks when specific actions occur. You can listen to events from all CamanJS instances on a page, or specific individual instances. The available events are:</p>

<ul class="TableList Across3">
  <li>processStart</li>
  <li>processComplete</li>
  <li>renderFinished</li>
  <li>blockStarted</li>
  <li>blockFinished</li>
</ul>

<div class="Clear"></div>

<p><code>processStart</code> and <code>processComplete</code> are triggered when a single filter starts and finishes rendering. When all filters are finished and the modification is complete, <code>renderFinished</code> is triggered. The renderer in CamanJS splits the image into blocks, so when a single block starts and finishes rendering, <code>blockStarted</code> and <code>blockFinished</code> are triggered. These are also useful for tracking render progress for larger images.</p>

{% highlight js %}
// Listen to all CamanJS instances
Caman.Event.listen("processStart", function (job) {
  console.log("Start:", job.name);
});

// Listen to a single instance only
c = Caman("#image");
Caman.Event.listen(c, "processComplete", function (job) {
  console.log("Finished:", job.name);
});
{% endhighlight %}