<h3 id="BuiltIn">Built-In Functionality</h3>

<p>CamanJS has a wealth of built-in functionality from basic image filters to color conversion utility functions, and much more.</p>

<h4>Built-In Filters</h4>

<p>All of these filters are included with CamanJS in the core library.</p>

<h5>Brightness</h5>
<p>Simple brightness adjustment.</p>
<p>Range is -100 to 100. Values < 0 will darken while > 0 will brighten.</p>
{% highlight js %}
Caman("#image", function () {
  this.brightness(5).render();
})
{% endhighlight %}

<h5>Channels</h5>
<p>Lets you modify the intensity of the Red, Green, and Blue color channels individually.</p>
<p>Must be given an argument with at least one channel to adjust. Adjustment values are from -100 to 100.</p>
{% highlight js %}
Caman("#image", function () {
  this.channels({
    red: 10,
    green: -5,
    blue: 2
  }).render();
});
{% endhighlight %}

<h5>Clip</h5>
<p>Clips the color values when they fall outside of the given range.</p>
<p>Range is from 0 to 100.</p>
{% highlight js %}
Caman("#image", function () {
  this.clip(20).render();
});
{% endhighlight %}

<h5>Colorize</h5>
<p>Uniformly shifts the colors in an image towards the given color.</p>
<p>The adjustment range is from 0 to 100. The higher the value, the closer the colors in the image shift towards the given adjustment color. This filter is polymorphic and can take two different sets of arguments, which are shown below:</p>
{% highlight js %}
Caman("#image", function () {
  // Explicitly give the R, G, and B values of the
  // color to shift towards.
  //
  // Arguments: (R, G, B, strength)
  this.colorize(25, 180, 200, 20);
  
  // The other way is to specify a color in hex form:
  this.colorize("#4090D5", 20);
});
{% endhighlight %}