<h3 id="Extending">Extending CamanJS</h3>
<p>There are multiple ways to extend the core functionality of CamanJS, all of which are outlined below.</p>

<h4>Pixel-wise Filters</h4>
<p>Most of CamanJS is made up of pixel-wise filters. They get their name from the fact that they operate one pixel at a time. The filter function is given the RGB values of a single pixel, and the function returns the updated values.</p>
<p>The most important thing to understand with CamanJS filters is what is executed immediately, and what is executed at render time. All filters must call the <code>process()</code> function. Everything inside this function is executed at render time only, and the function is given the RGB values as its only argument.</p>

<p>Here is how the posterize filter is implemented:</p>

{% highlight js %}
// The adjust value is the argument given by the user when
// they call this filter.
Caman.Filter.register("posterize", function (adjust) {
  // Pre-calculate some values that will be used
  var numOfAreas = 256 / adjust;
  var numOfValues = 255 / (adjust - 1);

  // Our process function that will be called for each pixel.
  // Note that we pass the name of the filter as the first argument.
  this.process("posterize", function (rgba) {
    rgba.r = Math.floor(Math.floor(rgba.r / numOfAreas) * numOfValues);
    rgba.g = Math.floor(Math.floor(rgba.g / numOfAreas) * numOfValues);
    rgba.b = Math.floor(Math.floor(rgba.b / numOfAreas) * numOfValues);

    // Return the modified RGB values
    return rgba;
  });
});
{% endhighlight %}

<p>These filters also have access to a special object that is aware of the current location of the pixel given to the process function. This object exposes many helpful functions that allow you to not only get the location, but also get/set the values of other pixels in the image. All of it's functionality is shown below:</p>

{% highlight js %}
Caman.Filter.register("example", function (adjust) {
  this.process("example", function () {
    this.locationXY(); // e.g. {x: 0, y: 0}

    // Gets the RGBA object for the pixel that is 2 rows down
    // and 3 columns to the right.
    this.getPixelRelative(-2, 3);

    // Sets the color for the pixel that is 2 rows down and
    // 3 columns to the right.
    this.putPixelRelative(-2, 3, {
      r: 100,
      g: 120,
      b: 140,
      a: 255
    });

    // Gets the RGBA object for the pixel at the given absolute
    // coordinates. This is relative to the top left corner.
    this.getPixel(20, 50);

    // Sets the color for the pixel at the given absolute coordinates.
    // Also relative to the top left corner.
    this.putPixel(20, 50, {
      r: 100,
      g: 120,
      b: 140,
      a: 255
    });
  });
});
{% endhighlight %}

<h4>Kernel Manipulations</h4>
<p>Not everything can be done one pixel at a time. Another way to modify images is by using a convolution kernel. This is simply a matrix that describes how to modify a certain pixel based on the ones around it. The <a href="http://gimp.open-source-solution.org/manual/plug-in-convmatrix.html">GIMP documentation</a> does a great job at explaining this.</p>

<p>In CamanJS, kernels are defined by 1-dimensional arrays. The divisor and bias are automatically calculated for you, but you can manually specify them after the convolution matrix if needed.</p>

{% highlight js %}
Caman.Filter.register("boxBlur", function () {
  // Instead of calling process, we call processKernel.
  // The first argument is an arbitrary name used to 
  // identify the filter. The optional 3rd and 4th arguments
  // are the divisor and bias, respectively.
  this.processKernel("Box Blur", [
    1, 1, 1,
    1, 1, 1,
    1, 1, 1
  ]);
});
{% endhighlight %}

<h4>Advanced Plugins</h4>
<p>If what you want to do doesn't fit into the workflow of pixelwise plugins or kernel manipulations, then you can also get full access to the canvas data inside of CamanJS using plugins.</p>

<p>Some examples of plugins include the super-fast Stack Blur algorithm and cropping/resizing. Notice that you also have to create a filter function for plugins. Here's how cropping works:</p>

{% highlight js %}
Caman.Plugin.register("crop", function(width, height, x, y) {
  var canvas, ctx;
  if (x == null) {
    x = 0;
  }
  if (y == null) {
    y = 0;
  }

  // Support NodeJS by checking for exports object
  if (typeof exports !== "undefined" && exports !== null) {
    canvas = new Canvas(width, height);
  } else {
    canvas = document.createElement('canvas');
    canvas.width = width;
    canvas.height = height;
  }

  // Get the new context and draw a portion of the current canvas
  // to the new canvas.
  ctx = canvas.getContext('2d');
  ctx.drawImage(this.canvas, x, y, width, height, 0, 0, width, height);

  // Tell CamanJS to replace the current canvas with our new cropped one.
  this.replaceCanvas(canvas);
});

// Register our filter for the plugin
Caman.Filter.register("crop", function() {
  // Here we call processPlugin so CamanJS knows how to handle it
  this.processPlugin("crop", arguments);
});
{% endhighlight %}

<h4>Blenders</h4>
<p>You can add new blenders that control how layers are applied to their parent layers. Here's how the multiply blender would be implemented:</p>

{% highlight js %}
Caman.Blender.register("multiply", function(rgbaLayer, rgbaParent) {
  return {
    r: (rgbaLayer.r * rgbaParent.r) / 255,
    g: (rgbaLayer.g * rgbaParent.g) / 255,
    b: (rgbaLayer.b * rgbaParent.b) / 255
  };
});
{% endhighlight %}

<p>The two arguments to the blending function are the RGB values for the pixel in the current layer and the corresponding pixel in the parent layer, respectively. The blending function needs to return a new RGB object that will be the pixel's new color.</p>