body {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p, li { font-size: 15px; }

p {
  line-height: 24px;
  color: #343431;
}

li {
  color: #343431;
}

a {
  text-decoration: none;
  color: #343431;
  @include transition(color 0.3s ease-out);
  @include transition(font-weight 0.3s ease-out);

  &:hover{
    color: #368ad2;
  }
}

code {
  font-family: 'Source Code Pro', monospace;
  font-size: 13px;
}