---
layout: main
title: Basic Usage
section: guides
fixed_header: true
---

{% include header.html %}

<div id="Content">
  <p>Using CamanJS is extremely simple, but also very flexible. All of the functionality is accessed by calling the <code>Caman()</code> function.</p>

  {% include guides/basic_usage.html %}
  <div class="SectionBreak"></div>

  {% include guides/advanced_usage.html %}
  <div class="SectionBreak"></div>

  {% include guides/built_in.html %}
  <div class="SectionBreak"></div>

  {% include guides/extending.html %}
</div>