<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>CamanJS - {{ page.title }}</title>

  {% bundle %}
    - /stylesheets/main.css
    - /stylesheets/sections/{{page.section}}.css
    - /stylesheets/pygments.css
  {% endbundle %}

  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro|Raleway:400,200,700' rel='stylesheet' type='text/css'>

  {% bundle %}
    - //raw.github.com/meltingice/CamanJS/master/dist/caman.full.js
    - //ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js
    - /javascripts/ext/html5slider.js
    - /javascripts/ext/underscore.js
  {% endbundle %}

  <script src="/javascripts/{{page.section}}.js"></script>

  {% if site.dev or site.server %}
  <script type="text/javascript">
    Caman.DEBUG = true
  </script>
  {% endif %}
</head>
<body>
  {{ content }}
</body>
</html>